<style>

  .filter-button.active {
    background-color: #F79219;
    border: 1px solid #000;
    border-radius: 53px;
    color: #fff;
  }
</style>

<div class="w-[90%] mx-auto my-8">
  <h2 class="text-2xl md:text-4xl text-center mb-8 helvetica text-[#1F2937] w-[90%] md:w-[40%] mx-auto">{{ collection.title }}</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-16">
    {% for product in collection.products %}
      {% assign prod_id = forloop.index | plus: paginate.current_offset %}
      <div>
        {% render "product-card"
          , product: product %}
      </div>
    {% else %}
      <p>No products found.</p>
    {% endfor %}
  </div>
</div>
