<style>
  /* Scroll */
  .scroll {
    overflow-y: scroll;
    padding-right: 10px;
  }

  .scroll::-webkit-scrollbar {
    width: 0.2em;
    border-radius: 10px;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #F79219;
  }

  .box-s {
    box-shadow: 2px 2px 0 0 #000000;
  }
</style>

<div class="w-full h-[70px]">
  <div class="w-[90%] h-[inherit] mx-auto flex justify-between items-center [&>div>a]:font-[500]">
    <div class="hidden md:flex justify-center items-center gap-4">
      <a href="{{ routes.all_products_collection_url }}">Shop</a>
      <a href="/pages/about-us">About</a>
    </div>

    <div class="md:hidden">
      <a href="#" class="logo flex flex-col items-center justify-center text-[#78350F]">
        {% render "hamburger" %}
      </a>
    </div>

    <div>
      <a href="{{ routes.root_url }}" class="logo flex flex-col items-center justify-center text-[#78350F]">
        <p>SNACK</p>
        <P>SAVY</P>
      </a>
    </div>

    <div class="flex justify-between items-center gap-4 [&>a>svg]:h-[40px]">
      <a href="{{ routes.search_url }}" class="hidden md:block">{% render "search" %}</a>
      <div class="relative cursor-pointer" x-on:click="$store.globalState.toggleCartModal()">
        <a href="#">{% render "cart" %}</a>
        <div
          x-data
          x-show="$store.cartState.itemCount > 0"
          class="absolute h-[20px] w-[20px] top-[7px] right-[7px] bg-white rounded-full flex items-center justify-center text-[10px] font-bold p-2">
          <span x-text="$store.cartState.itemCount">{{ cart.item_count }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
        // Select all quantity selectors on the page
        document.querySelectorAll('.quantity-selector-2').forEach(function (selector) {
            const input = selector.querySelector('.quantity-input-2');
            const decrementButton = selector.querySelector('.decrement');
            const incrementButton = selector.querySelector('.increment');
  
            decrementButton.addEventListener('click', function () {
                let currentValue = parseInt(input.value);
                if (currentValue > 1) {
                    input.value = currentValue - 1;
                }
            });
  
            incrementButton.addEventListener('click', function () {
                let currentValue = parseInt(input.value);
                input.value = currentValue + 1;
            });
        });
    });
</script>